<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae tellus mauris, at iaculis lectus. Donec porttitor libero sit amet nulla iaculis ornare. Nullam in turpis odio. Praesent porttitor vehicula velit nec interdum. Donec tempor, odio id blandit congue, mauris magna venenatis justo, at elementum urna ligula a leo. Quisque non nisi arcu. Maecenas vulputate aliquam nunc, sed tempor enim euismod ut. Sed arcu purus, ornare eget auctor ut, dapibus fermentum ante. Pellentesque lectus risus, sagittis non imperdiet ut, cursus vel massa.</string>
	<string>Donec sem nisi, pulvinar sit amet tincidunt non, aliquet eu odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse congue sem eu justo rhoncus vel consequat leo mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam augue massa, bibendum a elementum vitae, tempor vel tortor. Vivamus leo lacus, scelerisque eu ultrices nec, volutpat id leo. Sed consequat aliquam leo, ut rutrum diam malesuada rutrum. Duis pretium lectus et libero tincidunt bibendum. Pellentesque adipiscing porttitor dui sit amet pulvinar. Ut eget nisi eget velit venenatis tincidunt a eu nisl.</string>
	<string>Vivamus facilisis velit et augue porttitor quis lacinia est imperdiet. Maecenas sagittis felis in est lobortis molestie sit amet eget quam. Cras a dui non erat imperdiet sodales. Quisque fringilla nulla id leo congue posuere. Fusce id ultricies sapien. Sed venenatis metus nec nulla tincidunt molestie vitae et enim. Morbi egestas risus quis nibh lobortis aliquam. Pellentesque massa massa, cursus eget consequat et, sollicitudin nec magna. Etiam sodales posuere massa vitae pharetra. Morbi vehicula fringilla ullamcorper. Nunc non gravida tortor. In nisi mi, commodo eu lobortis a, cursus et sem.</string>
	<string>Aenean in dictum tellus. Morbi molestie lectus risus. Aenean leo neque, auctor et aliquam non, scelerisque at dui. Nunc et tellus porta mauris pharetra pellentesque. Sed nunc lectus, facilisis at lacinia ut, gravida eu sapien. Phasellus sit amet sapien ac velit ultrices ullamcorper vel vel augue. Donec vehicula enim quis pretium bibendum. In hac habitasse platea dictumst. Aliquam imperdiet tortor magna, placerat euismod felis ultrices quis. Cras in pulvinar quam. Fusce id laoreet velit, sit amet scelerisque lectus. In hac habitasse platea dictumst.</string>
	<string>Suspendisse consequat iaculis ex, non egestas orci mollis a. Maecenas semper dui nulla, eu ultricies eros gravida ac. Mauris quis ante odio. Sed sed nunc bibendum dui lacinia porttitor porta vitae lectus. Phasellus vulputate erat lacus, vitae vestibulum elit pellentesque vel. Aenean non urna nibh. Nam facilisis felis eu magna pharetra tincidunt. Sed tincidunt sed metus ut sollicitudin.</string>
	<string>Nullam sit amet nunc sed turpis vehicula malesuada. Ut cursus dolor nec maximus auctor. Ut in rhoncus mauris. Donec sit amet molestie elit. Proin sem ipsum, feugiat id ornare non, accumsan non ante. Vestibulum sed facilisis ex. Nullam sed nibh a erat faucibus tincidunt. Cras cursus odio a nisl volutpat, vitae posuere massa tempor. Vestibulum et nisi dui.</string>
	<string>Suspendisse potenti. Proin gravida ullamcorper elit, vel auctor enim gravida tincidunt. Morbi purus massa, ultrices sit amet orci non, laoreet viverra ipsum. Nam ac mollis erat. Sed suscipit malesuada orci, at mattis erat aliquam sed. Donec convallis elementum urna, in gravida eros venenatis ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis vitae tellus risus. Cras nunc libero, bibendum laoreet metus at, maximus vulputate ligula. Curabitur nisl ante, sodales ut finibus vitae, feugiat id est.</string>
	<string>Aliquam sodales iaculis sem, quis venenatis enim rutrum nec. Vestibulum finibus varius augue, quis condimentum mauris consequat et. In pharetra vestibulum lectus mollis lacinia. Donec quis magna ipsum. Aliquam at vehicula elit, ut accumsan lacus. Morbi aliquet quis tellus a varius. Cras et dignissim felis. Ut tempus lorem turpis, sit amet cursus libero elementum sit amet. Morbi lobortis, neque sed tempus blandit, nisi erat hendrerit diam, ac congue ipsum augue eu ante. Aliquam erat volutpat. Etiam ligula turpis, tincidunt nec est sed, auctor cursus eros.</string>
	<string>Sed vitae arcu vitae odio scelerisque scelerisque vitae sit amet erat. Nunc id elementum felis. Nunc efficitur suscipit aliquam. Nulla nec nunc vitae tellus molestie maximus eget viverra ante. Sed molestie dui eu sem lacinia tristique sit amet vitae leo. Phasellus tempus sed turpis sit amet eleifend. Pellentesque elementum, quam nec malesuada pulvinar, nisl eros dignissim ex, in blandit odio elit id lacus. Etiam id ornare augue, et finibus eros. Integer malesuada et mauris non mollis. Proin volutpat nulla quis ligula posuere egestas. Fusce eget sapien a nisi posuere viverra.</string>
	<string>Maecenas imperdiet hendrerit tincidunt. Aliquam blandit fringilla arcu, non aliquet orci lacinia quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi vel tempor ligula. Quisque rhoncus, massa posuere varius consectetur, ex massa tempor enim, vitae finibus augue libero nec ex. Nam nunc leo, finibus at mi eget, bibendum tempus nibh. Morbi mattis, mauris at cursus efficitur, mauris lectus imperdiet dui, eget lobortis nisi ipsum a neque. Mauris dui lacus, ultricies non felis in, hendrerit mattis diam. Nam ac viverra nulla. Vivamus suscipit condimentum semper.</string>
	<string>Nam ut mauris eget enim pellentesque semper. Quisque imperdiet porta odio, non sodales ligula ultricies at. Donec suscipit nisi augue. Integer scelerisque, erat quis luctus finibus, neque est vestibulum nisi, at scelerisque odio nunc sed turpis. Suspendisse in metus dui. Quisque pretium sapien quis massa venenatis, a mattis mi ultrices. Vivamus scelerisque rutrum nisi sit amet blandit. Vivamus pretium erat metus, in tempus dui mattis id. Duis nibh mi, eleifend ut diam vitae, interdum interdum lorem. Etiam odio massa, sagittis id aliquet at, imperdiet nec lorem. Sed vehicula sapien nec pellentesque auctor.</string>
	<string>Cras at bibendum est. Donec mauris leo, maximus sit amet ullamcorper ut, tincidunt ac nunc. Pellentesque vel ipsum pretium, iaculis lacus non, dapibus mauris. Quisque sodales enim eget nulla auctor blandit. Morbi accumsan, lorem quis sagittis tincidunt, nunc ex tincidunt enim, sed porttitor nulla massa nec diam. Phasellus dictum varius aliquet. Suspendisse a tellus eu enim mollis posuere. Cras sit amet orci bibendum quam efficitur convallis. Integer quis elit semper, consectetur libero vel, venenatis erat. In eleifend rhoncus orci sed aliquam. Nam vulputate tortor id purus mattis aliquet. Maecenas dignissim vel nisi at scelerisque.</string>
	<string>Suspendisse potenti. Phasellus vel tincidunt ante. Pellentesque tellus sem, pretium eu elementum et, pretium quis nibh. Mauris facilisis mauris non sapien vehicula tristique. Maecenas blandit lacinia quam, lacinia vestibulum eros rutrum ac. Aliquam viverra viverra dolor et aliquam. Nullam et magna dapibus, luctus sem tempus, faucibus arcu. Donec eros diam, finibus ut orci eget, fringilla tincidunt leo. Suspendisse nec purus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec a lectus id eros placerat volutpat eget sed nisi. Vestibulum consectetur accumsan tincidunt. Nunc eleifend sem sed consequat rhoncus. In vel ligula nec lacus ullamcorper laoreet ut in felis. Sed nisl nisi, ultrices et sagittis nec, consequat gravida neque.</string>
	<string>Morbi consequat pellentesque nisl. Etiam ipsum lectus, aliquam vel pellentesque eu, ultrices mollis odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce sed accumsan lacus, vel aliquet tellus. Duis pharetra, neque at auctor vestibulum, orci felis dignissim nibh, molestie mollis turpis est sit amet orci. Curabitur sit amet elit eget velit volutpat tristique. Etiam a elit eu libero sagittis ornare et sed nisl. Nulla porttitor ante nec odio bibendum fermentum. Ut at turpis ligula. Vestibulum ut ligula purus.</string>
	<string>Vim id aeque quaerendum complectitur, ea omnis decore detracto vis. Stet suscipit ex vis. Ea dicam maiorum disputationi has, usu te melius perpetua. An decore eripuit eum. Ut ignota vocibus pri, elitr solet eu mei.</string>
	<string>Posse ridens nec ad, nemore animal iuvaret eos no, mei mundi maiestatis ad. Ad ius feugait argumentum. No dicam denique qualisque sea. Te suas appetere pro, te mei tamquam nominati. Cum debet vocent at.</string>
</array>
</plist>
